/ {
    chosen{
        uart=&uart2;

    };
    aliases {
        led0 = &myled0;
        sw0 = &button0;
        pps = &mypps;
    };

    leds {
        compatible = "gpio-leds";
        myled0: led_0 {
            gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
        };
    };

    dht22 {
        compatible = "aosong,dht";
        status = "okay";
        dio-gpios = <&gpio0 23 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
    };

    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio0 18 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "user Button";
        };
        mypps: mypps_0 {
            gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
            label = "pps signal";
        };
    };
};

&uart2 {
    status = "okay";
    current-speed = <9600>;
};
